NODE_ENV=development
PORT=3000
JWT_ISSUER=vivu
JWT_AUDIENCE=vivu-web
IDENTITY_SERVICE_URL=http://identity-service:3001
STUDENT_SERVICE_URL=http://student-service:3002
GAMIFICATION_SERVICE_URL=http://gamification-service:3003
RESOURCE_SERVICE_URL=http://resource-service:3004
SURVEY_SERVICE_URL=http://survey-service:3005
SUPPORT_SERVICE_URL=http://support-service:3006
ANALYTICS_SERVICE_URL=http://analytics-service:3007
RECOMMENDATION_SERVICE_URL=http://recommendation-service:8000
